.garage-container{
    display: grid;
    grid-template-areas:
    "header header header"
    "products products cart"
    "products products form"
}

.header {
    grid-area: header;
}

.products-container {
    grid-area: products;
}

.cart-container {
    grid-area: cart;
}

.form-container {
    grid-area: form;
}

.products {
    width: 200px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

/* .product-card {
    border: 1px solid black;
} */